p{
    font-size: 36px;
    margin-top: 25px;
}
.login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 25px;
}

.form-field {
    width: 75%;
    border-bottom: none;
}

.form-control {
    border-radius: 5px;
    border-bottom: none;
}

::ng-deep .mat-form-field-underline {
    display: none;
}
.login-btn {
    width: 75%;
    margin-bottom: 30px;
}

::ng-deep .mat-flat-button.mat-primary{
    background-color: #3ea2f9;
}

::ng-deep .form-field.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 10px;
    padding: 0 .75em 0 .75em;
}