.grey-bg {
    background-color: #ededed;
    height: 100vh;
    width: 100vw;
    display: flex;
  
    justify-content: center;
    // align-content: center;
    align-items: center;
  
    // div {
    //   // background-color: cyan;
    //   // height: 500px;
    //   width: 800px;
    // }
  
    .mat-card {
      padding: 0;
      border-radius: 10px;
    }
  
  }
  
  
  .login-cont {
    //background-color: cyan;
  
    display: flex;
    flex-direction: row;
    // flex: 1fr 2fr;
    width: 800px;
    height: 400px;
  
  
  }
  
  .login-img {
    flex: 1;
   // background-color: darkgreen;
  
    background-image: url(../../../../assets/img.PNG);
    background-repeat: no-repeat;
    
    height: 100%;
  }
  
  .login-form {
    flex: 1.30;
    margin-left: 15px;
    overflow: auto;
  }
  
  .login-form-cont {
    // display: contents;
  
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .row-1 {
   flex: 1;
    //padding: 30px 30px 0px 0px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 20px;
    div {
      //TODO: FONT WEIGHT
      font-weight: bolder;
  
      a {
        text-decoration: none;
        color: #2189f0;
      }
    }
  }
  .row-2 {
    flex: 3.5;
    
  }
  .row-3 {
    flex: 1.5;
  }

  .register-container{
    display: flex;
    flex-direction: column;
  }
  .form-row{
    display: flex;
  }
  .register-left{
    flex: 1;
  }

  ::ng-deep .mat-form-field-underline {
    display: none;
}
::ng-deep .form-field.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 10px;
    padding: 0 .75em 0 .75em;
}

.login-btn {
  width: 75%;
  margin-bottom: 30px;
}

::ng-deep .mat-flat-button.mat-primary{
  background-color: #3ea2f9;
}
  